name: Main Job

on:
  schedule:
    - cron: '0 0 * * MON'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - uses: c-hive/gha-yarn-cache@v2
    - run: yarn install --frozen-lockfile
    - run: yarn build
    - name: Running script now
      run: node dist
      env:
        SECRET_KEY: ${{ secrets.SECRET_VAL }}
